@{
    var markets = ViewBag.SuperMarkets as List<string>;
    var today = DateTime.Today;
}

<h2>Shopping Cart</h2>

<form method="post">
    <label>Product Name:</label><br />
    @Html.TextBox("productName") <br /><br />

    <label>Supermarket:</label><br />
    @Html.DropDownList("supermarket", new SelectList(markets)) <br /><br />

    <label>Delivery Date:</label><br />
    @Html.RadioButton("deliveryDate", today.ToShortDateString()) Today<br />
    @Html.RadioButton("deliveryDate", today.AddDays(1).ToShortDateString()) Tomorrow<br /><br />

    <input type="submit" value="Submit Order" />
</form>
