@{
    ViewData["Title"] = "Sprint13. Tasks";
}

<h1>Sprint13. Tasks</h1>

<ul>
    <li><a href="/Tasks/Greetings">Greetings</a></li>
    <li><a href="/Tasks/ProductInfo">Products</a></li>
    <li><a href="/Tasks/SuperMarkets">Supermarkets</a></li>
    <li><a href="/Tasks/ShoppingList">Shopping list</a></li>
    <li><a href="/Tasks/ShoppingCart">Shopping cart</a></li>
</ul>
